:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.1em;
  --line-height-lg: 1.64;
  --line-height-normal: 1.2;

  --conteiner-primery: 1110px;
  --conteiner-sm: 540px;

  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-normal);
}

a {
  text-decoration: none;
}

.container {
  width: min(100% - var(--gap-lg), var(--conteiner-primery));
  margin-inline: auto;
}

.container--sm {
  width: min(100% - var(--gap-lg), var(--conteiner-sm));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 66px;
  padding-bottom: 100px;
  background-color: var(--color-gray-light);
  min-height: 700px;
}

.navbar {
  margin-bottom: 134px;
}

.navbar__list {
  display: flex;
  gap: 43px;
}

.navbar__link {
  color: var(--color-black);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 0;
}

.navbar__link:hover {
  color: var(--color-primary);
}

.content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.content__title {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-lg);
  margin: 0 0 4px;
}

.content__description {
  color: var(--color-secondary);
  line-height: var(--line-height-lg);
  margin-bottom: 26px;
}

.content__link {
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-primary);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
  min-height: 65px;
}

.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: var(--color-light);
}

.section__title {
  color: var(--color-black);
  text-align: center;
  margin-bottom: 39px;
  font-size: 2rem;
  font-weight: 500;
}

.section__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
}

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0px 88px;
}

.experience__conteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}

.experience-item {
  display: flex;
  gap: var(--gap);
}

.experience-item__description {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.experience-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}

.experience-item__image {
  order: -1;
}

.video {
  background-color: var(--color-light);
  padding-bottom: 100px;
}

.video__iframe {
  border: 0;
  width: 100%;
  height: 600px;
}

.footer {
  min-height: 150px;
  background-color: var(--color-primary);
  padding: 40px 0;
  padding-bottom: 50px;
  color: var(--color-white);
}

.footer__name {
  margin: 0px 0px 20px 0px;
  font-size: 1.3125rem;
  font-weight: 500;
}

.footer__copiright {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-lg);
}

/* DF */
@media (max-width: 992px) {
  :root {
    --font-size: 14px;
    --letter-spacing: 0.09em;
    --line-height-lg: 1.54;
    --line-height-normal: 1;

    --conteiner-primery: 992px;
    --conteiner-sm: 440px;

    --gap: 18px;
    --gap-sm: calc(var(--gap) / 2);
    --gap-lg: calc(var(--gap) * 2);
  }

  .header {
    padding-top: 60px;
    padding-bottom: 85px;
    min-height: 600px;
  }

  .navbar {
    margin-bottom: 124px;
  }

  .content {
    max-width: 440px;
    gap: 25px;
  }

  .content__title {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .content__description {
    margin-bottom: 24px;
  }

  .content__link {
    min-width: 200px;
    min-height: 55px;
  }

  .section {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .section__title {
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-weight: 500;
  }

  .experience {
    padding: 90px 0px 80px;
  }

  .experience-item__description {
    gap: 6px;
  }

  .experience-item__number {
    font-size: 1.1875rem;
    font-weight: 500;
  }

  .video {
    padding-bottom: 90px;
  }

  .video__iframe {
    height: 500px;
  }

  .footer {
    min-height: 135px;
    padding: 35px 0;
    padding-bottom: 42px;
  }

  .footer__name {
    margin: 0px 0px 18px 0px;
    font-size: 1.18751rem;
  }

  .footer__copiright {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 12px;
    --font-family: "Roboto", sans-serif;
    --letter-spacing: 0.08em;
    --line-height-lg: 1.44;
    --line-height-normal: 0.8;

    --conteiner-primery: 768px;
    --conteiner-sm: 340px;

    --gap: 16px;
    --gap-sm: calc(var(--gap) / 2);
    --gap-lg: calc(var(--gap) * 2);
  }

  .header {
    padding-top: 50px;
    padding-bottom: 75px;
    min-height: 500px;
  }

  .navbar {
    margin-bottom: 114px;
  }

  .content {
    max-width: 340px;
    gap: 20px;
  }

  .content__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .content__description {
    margin-bottom: 22px;
  }

  .content__link {
    min-width: 180px;
    min-height: 48px;
  }

  .section {
    padding-top: 90px;
    padding-bottom: 70px;
  }

  .section__title {
    margin-bottom: 24px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .experience {
    padding: 80px 0px 70px;
  }

  .experience__conteiner {
    display: flex;
    justify-content: center;
  }

  .experience-item__description {
    gap: 5px;
  }

  .experience-item__number {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .video {
    padding-bottom: 80px;
  }

  .video__iframe {
    height: 400px;
  }

  .footer {
    min-height: 122px;
    padding: 28px 0;
    padding-bottom: 38px;
  }

  .footer__name {
    margin: 0px 0px 18px 0px;
    font-size: 1.125rem;
  }

  .footer__copiright {
    font-size: 0.625rem;
  }
}

@media (max-width: 576px) {
  :root {
    --font-size: 12px;
    --font-family: "Roboto", sans-serif;
    --letter-spacing: 0.07em;
    --line-height-lg: 1.34;
    --line-height-normal: 0.6;

    --conteiner-primery: 576px;
    --conteiner-sm: 240px;

    --gap: 14px;
    --gap-sm: calc(var(--gap) / 2);
    --gap-lg: calc(var(--gap) * 2);
  }

  .header {
    padding-top: 35px;
    padding-bottom: 60px;
    min-height: 500px;
  }

  .navbar {
    margin-bottom: 100px;
  }
  .navbar__list {
    flex-direction: column;
    gap: 25px;
  }

  .content {
    max-width: 240px;
    gap: 15px;
  }

  .content__title {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .content__description {
    margin-bottom: 18px;
  }

  .content__link {
    min-width: 160px;
    min-height: 40px;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 60px;
  }

  .section__title {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .experience {
    padding: 70px 0px 60px;
  }

  .experience__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .experience-item__description {
    gap: 4px;
  }

  .experience-item__number {
    font-size: 1rem;
    font-weight: 500;
  }

  .video {
    padding-bottom: 60px;
  }

  .video__iframe {
    height: 250px;
  }

  .footer {
    min-height: 80px;
    padding: 20px 0;
    padding-bottom: 30px;
  }

  .footer__name {
    margin: 0px 0px 16px 0px;
    font-size: 1rem;
  }

  .footer__copiright {
    font-size: 0.6rem;
  }
}
