@use "../../presets" as *;
@use "common" as *;

.footer {
  min-height: 150px;
  padding: 40px 0;
  padding-bottom: 50px;

  color: $color-white;
  background-color: $color-primary;

  &__name {
    margin: 0 0 20px 0;

    font-size: 1.3125rem;
    font-weight: 500;
  }

  &__copiright {
    font-size: 0.8125rem;
    font-weight: 400;
    font-style: normal;
    line-height: $line-height-lg;
  }
}

