@use "../../presets" as *;
@use "common" as *;

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  max-width: 540px;

  gap: 30px;

  @media (max-width: 576px) {
    align-items: center;
  }

  &__title {
    margin: 0 0 4px;

    color: $color-black;

    font-size: 3rem;
    font-weight: 500;
    line-height: $line-height-lg;

    @media (max-width: 576px) {
      font-size: 2.5rem;
    }
  }

  &__description {
    margin-bottom: 26px;

    color: $color-secondary;

    line-height: $line-height-lg;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 225px;
    min-height: 65px;
    padding: 0.5em;

    letter-spacing: $letter-spacing;

    color: $color-white;
    background-color: $color-primary;

    @media (max-width: 768px) {
      min-width: 190px;
      min-height: 50px;
    }
  }
}
